In [20]:
import numpy as np
import pandas as pd

In [21]:
data = pd.read_csv("cleaned_dataset.csv")

In [22]:
# dataset = pd.read_csv("responses (55).csv")
# data = dataset.copy()

In [23]:
# data.drop(columns=['Timestamp'], inplace=True)
# data.drop(index=[21, 129], inplace=True)
# data.loc[62, 'Sex'] = data.loc[136, 'Sex'] = 'Other'
# data['Where do you live? (name of village/town/city)'] = data['Where do you live? (name of village/town/city)'].apply(lambda x: x.strip().lower())
# data['What percentage of your total monthly income (or allowance) do you keep aside for active savings?'] = data['What percentage of your total monthly income (or allowance) do you keep aside for active savings?'].map(
#     {
#         'Do not have a stable monthly income': 'no income',
#         '10% - 50%': '10% - 50%',
#         '5% - 10%': '5% - 10%',
#         'Do not have a monthly income': 'no income',
#         '< 5%': '< 5%',
#         '> 50%': '> 50%'
#     }
# )

In [24]:
# column_rename = {
#     'Where do you live? (name of village/town/city)': 'P1',
#     'Do you live in a rural or urban area?': 'P2',
#     'Sex': 'P3',
#     'Age': 'P4',
#     'Your medium of schooling': 'P5',
#     'Your highest educational qualification': 'P6',
#     'Your monthly household income (in INR)': 'P7',
#     'Who do you live with in your residence (i.e., where you currently reside)? ': 'P8',
#     "Your father's highest educational qualification": 'P9',
#     "Your mother's highest educational qualification": 'P10',
#     'Who is responsible for making day-to-day decisions about money in your household?': 'F1',
#     'Do you prepare a budget to keep track of necessary expenses and savings?': 'F2',
#     'How do you keep track of your monthly expenses?': 'F3',
#     'In the past 12 months have you been personally saving money in any of the following ways?': 'F4',
#     'What percentage of your total monthly income (or allowance) do you keep aside for active savings?': 'F5',
#     'What do you usually do to grow the money that you manage to save each month?': 'F6',
#     'If you lost your main source of income today, how long would you be able to continue your current living expenses without borrowing money or moving house?': 'F7',
#     'In the last 12 months have you done the following?': 'S1',
#     'For an online payment that has to be made by card, which one would you opt for generally?': 'A1',
#     'You are looking to buy new headphones online and you have 2 choices, out of which you need to choose one. The first set of headphones are priced at ₹700, while the other set is marked at ₹1,000 with a 30% discount. Both the sets are similar in terms of quality, performance, and durability.': 'A2',
#     'From the list given below, identify items that are classified as assets:': 'K1',
#     "Suppose you buy a piece of land for  ₹5 lakhs. After 10 years, you sell this land for ₹7 lakhs. How much would your profit be after selling the land? (Assume you don't have to pay any kind of taxes)": 'K2',
#     'You have borrowed ₹100 from a friend. Which would be the lower amount to pay back: ₹105 or ₹100 plus 3%?': 'K3',
#     'Assume that the income tax rate for an annual income between ₹1 lakh and ₹2 lakhs is 5% and for an annual income between ₹2 lakhs and ₹4 lakhs, the income tax rate is 10%. If your annual income is ₹3 lakhs, your income tax would be:': 'K4',
#     'You want to buy a phone worth ₹25,000 and you decide to save ₹5,000 each month. In your third month of savings period (which would be of 5 months), a relative gifts you ₹4,000 in form of cash. What would you most likely do with this money?' : 'K5',
#     'Just when you were about to reach your target of saving ₹25,000 for your new phone, you hear about another new, different model worth ₹22,000 and see a huge number of people booking it, along with good recommendations from a lot of well known experts and analysts.': 'K6',
#     "You have ₹200 to spend on lunch and you're hungry. You buy some food items worth ₹180 and you feel full again after eating. You are now left with ₹20 of your lunch budget. What are you most likely to do?": 'K7',
#     'Which one of the following investments do you consider as safer: putting your entire money in one business/investment, or putting your money into multiple businesses/investments?': 'K8',
#     "You lend Rs. 25 to a friend and they return you Rs. 25 the next day. How much interest did they pay on this loan?": 'K9',
#     "Say someone puts Rs. 100 into a tax free, no fee savings account with guaranteed interest is 2% per year. What will be the amount in the account after 5 years?": 'K10',
#     "Suppose 5 brothers are given Rs. 1000 and asked to divide among themselves. However they have to wait for a year to get the money. If inflation stays at X%, then in 1 year will they be able to buy": 'K11'
# }
# columns = [f"F{i}" for i in range(1,8)] + ["S1", "A1", "A2"] + [f"K{i}" for i in range(1,12)]
# data = data.rename(columns=column_rename)[columns]

In [25]:
data['F1'] = data['F1'].map({
    'someone else': 'passive',
    'me': 'active',
    'me with someone else': 'active'
})
data['F2'] = data['F2'].map({
    'each month': 'active',
    'sometimes': 'passive',
    'never': 'passive'
})
data['F3'] = data['F3'].map({
    'no record': 'no record',
    'notes': 'notes',
    'spreadsheet or other tools': 'spreadsheet or same'
})
# data['F4'] = data['F4'].apply(lambda x: x.replace("assets, NFTs", "assets,NFTs"))
# data['S1'] = data['S1'].apply(lambda x: x.replace("(investments, loan, credits)", "(investments,loan,credits)"))

In [26]:
scored_df = pd.DataFrame()

In [27]:
scored_df['id'] = data['id']
scored_df['F1_old'] = data['F1']
scored_df['F2_old'] = data['F2']

def score_f1(data, row):
    if row['F1_old'] == 'active' and row['F2_old'] == 'active':
        return 1
    else:
        return 0

In [28]:
scored_df['F3'] = data['F3'].map(lambda x: 0 if x == 'no record' else 1)

In [29]:
scored_df['F1+F2'] = scored_df.apply(lambda row: score_f1(data=data, row=row), axis=1)
scored_df['F4'] = data['F4'].apply(lambda x: 1 if len(x.split(", "))>=2 else 0)
scored_df.drop(columns=['F1_old', 'F2_old'], inplace=True)
scored_df['F6'] = data['F6'].map({
    'keep in bank account': 1,
    'invest in assets': 1,
    'unable to save': 0,
    'spend on shopping': 0
})

In [30]:
scored_df['K1'] = data['K1'].apply(lambda x: 1 if x == "Jewellery, Car, House, Art works" else 0)
scored_df['K2'] = data['K2'].map({
    'Rs. 2 lakhs': 0,
    'Not sure': 0,
    'Less than Rs. 2 lakhs': 1,
    'You will lose money': 1
})
scored_df['K3'] = data['K3'].map(lambda x: 1 if x=='100 plus 3pct' else 0)
scored_df['K4'] = data['K4'].map(lambda x: 1 if x=='30,000' else 0)
scored_df['K5'] = data['K5'].map(lambda x: 1 if x=='save it' else 0)
scored_df['K7'] = data['K7'].map(lambda x: 1 if x == 'keep it' else 0)
scored_df['K8'] = data['K8'].map(lambda x: 1 if x == 'Multiple businesses/investment' else 0)
scored_df['K9'] = data['K9'].map(lambda x: 1 if x == 'No interest' else 0)
scored_df['K10'] = data['K10'].map(lambda x: 1 if x == 'more than 110' else 0)
scored_df['K11'] = data['K11'].map(lambda x: 1 if x == 'less than today' else 0)

In [31]:
scored_df['TOTAL'] = scored_df.iloc[:,1:].apply(np.sum, axis=1)

In [32]:
scored_df

      id  F3  F1+F2  F4  F6  K1  K2  K3  K4  K5  K7  K8  K9  K10  K11  TOTAL
0      0   0      0   0   1   1 NaN   1   1   1   0   1   1    0    0    7.0
1      1   1      0   0   1   0 NaN   0   0   1   0   0   0    0    0    3.0
2      2   1      0   1   1   0 NaN   0   0   1   1   1   0    0    0    6.0
3      3   1      0   0   1   0 NaN   1   0   1   0   1   1    0    1    7.0
4      4   1      0   0   1   1 NaN   1   0   1   1   1   1    1    0    9.0
..   ...  ..    ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...    ...
198  200   0      0   0   1   0 NaN   1   0   1   1   1   1    1    1    8.0
199  201   1      1   1   1   0 NaN   1   1   1   1   1   1    0    1   11.0
200  202   1      1   1   0   0 NaN   1   0   1   0   1   1    1    0    8.0
201  203   0      0   0   1   0 NaN   1   1   1   1   1   1    1    1    9.0
202  204   1      1   1   1   0 NaN   1   1   1   1   1   1    1    1   12.0

[203 rows x 16 columns]

In [33]:
scored_df['TOTAL'].value_counts()

9.0     44
8.0     30
7.0     29
10.0    22
11.0    21
5.0     19
6.0     16
3.0      8
12.0     7
4.0      6
2.0      1
Name: TOTAL, dtype: int64

In [34]:
scored_df.to_csv('scores.csv', index=False)

In [35]:
dataset_with_score = data.merge(scored_df[['id','TOTAL']], on='id')

In [36]:
dataset_with_score.to_csv("dataset_with_score.csv", index=False)